Package: com.joemerlino.bancajessica
Name: BancaJessica
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Giuseppe Merlino
Author: Giuseppe Merlino
Section: Tweaks
Version: 0.0.1-20
Installed-Size: 120
